@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

html{
  background: url('/img/beach-1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button{
  font-size: 15px;
  font-family: 'Droid Serif', serif;
}

h1 {
  background-color: rgba(0,0,0,.45);
  font-family: 'Droid Serif', serif;
  color: white;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

.content{
  height: 300px;
  width: 80%;
  margin: 0px auto;
}

#weather, #thermometer {
  display: inline-block;
}

#weather {
  font-size: 100px;
  font-family: 'Droid Serif', serif;
  padding: 0px 10% 0px 0px;
}

#thermometer{
  position: relative;
  height: 100%;
  width: 70px;
  background-color: rgba(0,0,0, .2);
  border: 1px solid black;
  border-radius: 20px;
}

#tempColor{
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-left: -1;
  border: 1px solid black; 
  border-radius: 20px;
}

#pos25, #pos50, #pos75{
  position: absolute;
  height: 0px;
  width: 100%;
  border: 1px solid black;
}

#pos25{
  bottom: 25%;
}
#pos50 {
  bottom: 50%;
}

#pos75 {
  bottom: 75%;
}

#zip {
  text-align: center;
  font-family: 'Droid Serif', serif;
  font-size: 50px;
  background-color: (0,0,0,.2);
}

