doctype html
html
  head
    meta(charset='utf-8')
    title Weather UI
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 WEATHER!
    form(method='post', action='/')
      table
        tr
          td
            label Zip Code
          td
            input(name='zip', type='text', placeholder='zip', autofocus=true,)
        tr
          td(colspan='2')
            button Get Temp
