doctype html
html
  head
    meta(charset='utf-8')
    title Weather UI
    link(rel='stylesheet', href='/css/style.css')
  body
    a(href='/', style='display:block;') Back to the Inputs!
    .content
      #weather
        #b Your current temp is #{temp}&#176 F
        div
          div(style="height:#{height}px;background-color:#{color};")
